@font-face {
    font-family: 'Satisfy';
    src: url('https://fonts.googleapis.com/css?family=Satisfy'); /* IE9 Compat Modes */
    src: url('https://fonts.googleapis.com/css?family=Satisfy') format('embedded-opentype'), /* IE6-IE8 */
    url('https://fonts.googleapis.com/css?family=Satisfy') format('woff'), /* Modern Browsers */
    url('https://fonts.googleapis.com/css?family=Satisfy')  format('truetype'), /* Safari, Android, iOS */
    url('https://fonts.googleapis.com/css?family=Satisfy') format('svg'); /* Legacy iOS */
}

#content-mobile414 {

    display: none;
}

#content-mobile360 {

    display: none;
}

#content-mobile320 {

    display: none;
}

@media (max-width:414px) {

    #content-mobile414 {
        display: block;
    }

    #content-mobile360 {

        display: none;
    }

    #content-mobile320 {

        display: none;
    }
}

@media (max-width:360px) {

    #content-mobile414 {
        display: none;
    }

    #content-mobile360 {

        display: block;
    }

    #content-mobile320 {

        display: none;
    }
}

@media (max-width:320px) {

    #content-mobile414 {
        display: none;
    }

    #content-mobile360 {

        display: none;
    }

    #content-mobile320 {

        display: block;
    }
}