@import url('https://fonts.googleapis.com/css?family=Kaushan%20Script');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@font-face {
    font-family: Courgette-Regular;
    src: url('../fonts/courgette/Courgette-Regular.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Kaushan Script';
    src: url('https://fonts.googleapis.com/css?family=Kaushan%20Script'); /* IE9 Compat Modes */
    src: url('https://fonts.googleapis.com/css?family=Kaushan%20Script') format('embedded-opentype'), /* IE6-IE8 */
    url('https://fonts.googleapis.com/css?family=Kaushan%20Script') format('woff'), /* Modern Browsers */
    url('https://fonts.googleapis.com/css?family=Kaushan%20Script')  format('truetype'), /* Safari, Android, iOS */
    url('https://fonts.googleapis.com/css?family=Kaushan%20Script') format('svg'); /* Legacy iOS */
}
.shadow
{
    text-shadow:
            1px 1px 0 red,
            3px 2px 0 red


}
.imglogohead{
    height:45%;width: 45%;z-index: 1;object-fit: contain;filter:brightness(95%);margin-top:-1em;margin-bottom:10px;"
}
body {
    background: #f7f7f7;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    min-width: 100%;;
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    margin: 0 0 1em 0;
    padding: 0;
}
p {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    margin: 0 0 1em 0;
    padding: 0;
}
.nav-item a{
    font-family: Montserrat-Regular;
    transition: 0.5s;
    color:white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.15em;
    padding:2px;
}
.nav-item a:hover{
    color:red;
    transition: 0.5s;
}
.nav-item li a{
    padding-right:1em;
}
.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
}
.carousel.fade .item:first-child {
    top: auto;
    position: relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index: 2;
}
.carousel-control {
    z-index: 2;
}
.bg-blackish{
    transition: .7s;
    background-color:rgba(0, 0, 0, 0);
    opacity: 1;
}

.bg-blackish2{

    background-color:rgba(20, 20, 20, 1);
    opacity: 1;
}

.headertext{
    font-family: Courgette;
    font-weight: 700;
    text-align: center;
    font-size: 3.625em;
// z-index:0;
    /*position: absolute;*/
    /*top: 17%;*/
    /*left: 23.5%;*/
    color:white;
    margin-bottom: 190px;
}
.headertext2{
    text-align: center;
    margin-left:7%;
    font-size: 3.750em;
// z-index:0;
    position: absolute;
    top: 23%;
    left: 33%;
    color:white;
}
.headerwrapper {
    //position: relative;
    text-align: center;
    max-width: 100%;
}
.headericons{
    padding-top: 1em;
    padding-right: 3.2em;
    text-align: center;
    /*position: absolute;*/
    /*top: 83%;*/
    /*left: 44.7%;*/
}
.iconcolor{
    margin-top: 18%;
    font-size: 1.3em;
    color: white;
    opacity: .9;

}
.circleborder{
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    background-color: white;
    border: solid white;
    opacity: .9;
    transition: 0.5s;
}
.circleborder i{
    transition: 0.5s;
    color:red;
}
.circleborder:hover{
    color:white;
    border: solid red;
    background-color: red;
    transition: 0.5s;
}
.circleborder:hover i{
    color:white;
    transition: 0.5s;
}


#test {
    display: inline-flex;
}
#test:hover{

}
#box{
    transition: 0.5s;
// position:absolute;
//line-height: 1.1em;
    max-height: 2.5em;
    padding: .5em;
    max-width: 8em;
    width: 8em;
    border: 0.188em solid white;
//background-color: rgb(106,134,79);
   background-color: white;
    /*left: 38.5%;*/
    /*margin-top:-15%;*/
    border-radius: 10px;

}
#headerHours{
    font-family: Montserrat;
    transition: 0.5s;
    color:red;
    font-size: 15px;
    margin-top: 1px;
}
#box:hover{
    text-decoration: none;
    border: 0.188em solid red;
    background-color: red;
    transition: 0.5s;
}
#box:hover #headerHours{
    color:white;
    transition: 0.5s;
}

#ingredientBox{
    transition: 0.5s;
    position:absolute;
    z-index: 1;
    height:3.750em;
    width: 12.500em;
    border: 0.188em solid white;
    opacity: .9;
    border-radius: 0.313em;
}
#ingredientBox:hover{
    transition: 0.5s;
    border: 0.188em solid red;
    background-color: red;
    text-decoration: none;
}
#ingredientBoxText{
    padding-top:5%;
    color:white;
    padding-left:8%;
}
#ingredientBoxText:hover{
    transition: 0.5s;
    color:white;
}

#menuBox{
    transition: 0.5s;
    position:absolute;
    z-index: 1;
    height:3.750em;
    width: 12.500em;
    border: 0.188em solid red;
    opacity: .9;
    border-radius: 0.313em;
}
#menuBox:hover{
    transition: 0.5s;
    border: 0.188em solid red;
    background-color: red;
    text-decoration: none;
}
#menuBoxText{
    padding-top:5%;
    color:red;
    padding-left:8%;
}
#menuBoxText:hover{
    transition: 0.5s;
    color:white;
}
/* Contact Section
--------------------------------*/
#contact {
    background: #f7f7f7;
    padding: 5.000em 0;

}

#contact .info {
    color: #333333;
}

#contact .info i {
    font-size: 2.000em;
    color: #03C4EB;
    float: left;
}

#contact .info p {
    padding: 0 0 0.625em 2.500em;
    line-height: 1.500em;
}
#contact .info p {
    display:inline;
    padding: 0 0 0.625em 2.500em;
    line-height: 1.500em;
}
#contact .info strong {
    display:inline;
    padding: 0 0 0.625em 2.500em;
    line-height: 1.500em;
}
#contact .form #sendmessage {
    color: #03C4EB;
    border: 0.063em solid #03C4EB;
    display: none;
    text-align: center;
    padding: 0.938em;
    font-weight: 600;
    margin-bottom: 0.938em;
}

#contact .form #errormessage {
    color: red;
    border: 0.063em solid red;
    display: none;
    text-align: center;
    padding: 0.938em;
    font-weight: 600;
    margin-bottom: 0.938em;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 1.250em;
    font-weight: 400;
    font-size: 0.813em;
}

#contact .form input, #contact .form textarea {
    border-radius: 0;
    box-shadow: none;
}

#contact .form button[type="submit"] {
    background: #03C4EB;
    border: 0;
    padding: 0.625em 1.500em;
    width:100%;
    //padding: 10px 185px;
    color: #fff;
    transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
    background: #25d8fc;
}
.section-title {
    font-family: "Kaushan Script";
    font-size: 2em;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.section-description {
    text-align: center;
    margin-bottom: 2.500em;
}

.navbar-toggler {
    padding: 0.25rem 0.25rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.75rem;
}

.section-title-divider {
    width: 6.250em;
    height: 0.188em;
    background: #03C4EB;
    margin: 0 auto;
    margin-bottom: 1.250em;
}

.purple-title-divider {
    width: 6.250em;
    height: 0.188em;
    background: #a442f4;
    margin: 0 auto;
    margin-bottom: 1.250em;
}

.red-title-divider {
    width: 6.250em;
    height: 0.188em;
    background: red;
    margin: 0 auto;
    margin-bottom: 1.250em;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    //background: #111;
    background-image: url("../img/Interior/dvsup.png");
    padding: 1.875em 0;
    color: #fff;
    //filter:brightness(30%);
}
#credits {

}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    padding-top: 0.625em;
    text-align: center;
    font-size: 0.813em;
    color: #ccc;
}
.iconcolor2{
    margin-top: 15%;
    font-size: 1.250em;
    color: white;
    opacity: .9;

}
.circleborder2{
    min-width: 40px;
    min-height: 20px;
    border-radius: 50%;
    border: solid white;
    opacity: .9;
    transition: 0.5s;
}
.circleborder2 i{
    transition: 0.5s;
}
.circleborder2:hover{

}
.circleborder2:hover i{

}
/* Get Started Section
--------------------------------*/
#about {
    padding: 5.000em 0;
}

#about .about-img {
    overflow: hidden;
}

#about .about-img img {
    max-width: 100%;
}

@media (max-width: 896px) {
    #about .about-img {
        height: auto;
        margin: 0 auto;
        position: center;
    }
    #about .about-img img {
        margin: 0 auto;
        padding-bottom: 1.875em;
        position: center;
    }
    #about .about-content {
        margin: 0 auto;
        position: center;
    }
}

#about .about-content {
}

#about .about-title {
    color: #333;
    font-weight: 700;
    font-size: 1.750em;
}

#about .about-text {
    line-height: 1.625em;
    margin-bottom: 0.938em;
}

#about .about-text:last-child {
    margin-bottom: 0;
}
/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.375em 0.750em 0.563em 0.750em;
    font-size: 1em;
    border-radius: 0.125em;
    right: 0.938em;
    bottom: 0.938em;
    transition: background 0.5s;
}
@media (max-width: 896px) {
    #header .bg-blackish {
        background-color:rgba(20, 20, 20, 1);
        opacity: 1;
    }
    #header .collapse{
        background-color:rgba(20, 20, 20, 1);
        opacity: 1;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        padding-left: 10px;
    }
    #header .navbar-collapse{
        background-color:rgba(20, 20, 20, 1);
        opacity: 1;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        padding-left: 10px;
    }
    .imglogohead{
        margin-top: -5em;
    }


}
@media (max-width: 896px) {
    #hero h1 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 120px;
    }

    #hero img {
        min-height:80%;min-width: 80%;
        padding-top: 0%;
    }

    #hero #box{
        padding-right: 1em;
        width: 250px;
    }

}

@media (max-width: 896px) {
    #middleImages img {
        width:200px;
    }
    #middleImages h1 {
        font-size: 30px;
        line-height: 30px;
    }
    #middleImages strong{
        font-weight:normal;
    }

}

@media (max-width: 896px) {
    .about-img img {
        min-height: 400px;
        max-height: 400px;
        height:400px;
    }
}

@media (max-width: 896px) {
    .credits ul {
        padding-left:15px;
    }
}
@media (max-width: 896px) {
    .footerDates{
        margin-left:12px;
    }
    .footerDates p {
        font-size:8px;

    }
}
@media (max-width: 896px) {
    .testy{
        min-width: 0px;
        max-width: 896px;
        overflow: hidden;
    }
}

/* iPhone XR 1792x828px at 326ppi vertical orientation*/
@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 1) {
    #iphone {
        max-width: 414px;
        overflow: hidden;
    }
}

/* iPhone XR 1792x828px at 326ppi horizontal orientation*/
@media only screen
and (device-width : 896px)
and (device-height : 414px)
and (-webkit-device-pixel-ratio : 1) {
    #iphone {
        max-width: 896px;
        overflow: hidden;
    }
}


/* iPhone XR 1792x828px at 326ppi vertical orientation*/
@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 2) {
    #iphone {
        max-width: 414px;
        overflow: hidden;
    }
}

/* iPhone XR 1792x828px at 326ppi horizontal orientation*/
@media only screen
and (device-width : 896px)
and (device-height : 414px)
and (-webkit-device-pixel-ratio : 2) {
    #iphone {
        max-width: 896px;
        overflow: hidden;
    }
}

/* iPhone XS 2436x1125px at 458ppi vertical orientation*/
@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3) {
    #iphone {
        max-width: 375px;
        overflow: hidden;
    }
}

/* iPhone XS 2436x1125px at 458ppi horizontal orientation*/
@media only screen
and (device-width : 812px)
and (device-height : 375px)
and (-webkit-device-pixel-ratio : 3) {
    #iphone {
        max-width: 812px;
        overflow: hidden;
    }
}

/* iPhone XS 2436x1125px at 458ppi vertical orientation*/
@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 2) {
    #iphone {
        max-width: 375px;
        overflow: hidden;
    }
}

/* iPhone XS 2436x1125px at 458ppi horizontal orientation*/
@media only screen
and (device-width : 812px)
and (device-height : 375px)
and (-webkit-device-pixel-ratio : 2) {
    #iphone {
        max-width: 812px;
        overflow: hidden;
    }
}

/* iPhone XS 2436x1125px at 458ppi vertical orientation*/
@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 1) {
    #iphone {
        max-width: 375px;
        overflow: hidden;
    }
}

/* iPhone XS 2436x1125px at 458ppi horizontal orientation*/
@media only screen
and (device-width : 812px)
and (device-height : 375px)
and (-webkit-device-pixel-ratio : 1) {
    #iphone {
        max-width: 812px;
        overflow: hidden;
    }
}

/* iPhone XS Max 2688x1242px at 458ppi vertical orientation*/
@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 3) {
    #iphone {
        max-width: 414px;
        overflow: hidden;
    }
}

/* iPhone XS Max 2688x1242px at 458ppi horizontal orientation*/
@media only screen
and (device-width : 896px)
and (device-height : 414px)
and (-webkit-device-pixel-ratio : 3) {
    #iphone {
        max-width: 896px;
        overflow: hidden;
    }
}

/* HORIZONTAL MIDDLE IMAGE FIX FOR IPHONE*/
@media (max-width: 896px)
and (-webkit-device-pixel-ratio : 1) {
    #iphone {
        max-width: 896px;
        overflow: hidden;
    }
}
@media (max-width: 896px)
and (-webkit-device-pixel-ratio : 2) {
    #iphone {
        max-width: 896px;
        overflow: hidden;
    }
}
@media (max-width: 896px)
and (-webkit-device-pixel-ratio : 3) {
    #iphone {
        max-width: 896px;
        overflow: hidden;
    }
}
@media (max-width: 812px)
and (-webkit-device-pixel-ratio : 1) {
    #iphone {
        max-width: 812px;
        overflow: hidden;
    }
}
@media (max-width: 812px)
and (-webkit-device-pixel-ratio : 2) {
    #iphone {
        max-width: 812px;
        overflow: hidden;
    }
}
@media (max-width: 812px)
and (-webkit-device-pixel-ratio : 3) {
    #iphone {
        max-width: 812px;
        overflow: hidden;
    }
}

/* HORIZONTAL MIDDLE IMAGE FIX FOR IPHONE*/

.footerLinks{
    text-align: center;
    font-size: 12px;
    display:inline;
    padding-right:20px;
    padding-left:20px;
    color:white;
}
.footerLinks a{
    color:white;
    text-decoration: underline;
}

.footerLinks a:hover{
    text-decoration: none;
    color:red;
}


input.invalid {
    border-color: red;
}
textarea.invalid {
    border-color: red;
}

.headertext1{
    font-family: Courgette;
    font-size: 60px;
}
.headertext2{

}