
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

@font-face {
    font-family: 'Satisfy';
    src: url('https://fonts.googleapis.com/css?family=Satisfy'); /* IE9 Compat Modes */
    src: url('https://fonts.googleapis.com/css?family=Satisfy') format('embedded-opentype'), /* IE6-IE8 */
    url('https://fonts.googleapis.com/css?family=Satisfy') format('woff'), /* Modern Browsers */
    url('https://fonts.googleapis.com/css?family=Satisfy')  format('truetype'), /* Safari, Android, iOS */
    url('https://fonts.googleapis.com/css?family=Satisfy') format('svg'); /* Legacy iOS */
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.row > .column {
    padding: 0 1px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.menu-heading {
    font-family: 'Satisfy', cursive;
    font-size: calc(2em + 3vw);
    margin-bottom: 0;
    text-align: center;
    color: black;
}
.column {
    float: left;
    width: 12%;
    margin-left: 23.5px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 45px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:  hidden;
    background-color: black;
}



/* Modal Content */
.modal-content {
    position: relative;
    display: block;
    background-color: #2c2c2d;
    margin: auto;
    padding: 30px;
    width: 90%;
    max-height: 875px;
    max-width: 1600px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    object-fit: scale-down;
    max-height: 800px;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    color: white;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
    color: white;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: white;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

#galleryImg {
    margin-bottom: 10px;
    object-fit: scale-down;
    max-height: 800px;
}

#menuImg {
    margin-bottom: 10px;
    object-fit: scale-down;
    max-height: 800px;
}

#interiorImg {
    margin-bottom: 10px;
    padding-top: 40px;
    object-fit: scale-down;
    max-height: 800px;
}

#staffImg {
    margin-bottom: 10px;
    padding-top: 35px;
    object-fit: scale-down;
    max-height: 800px;
}

.caption-container {
    text-align: center;
    background-color: #2c2c2d;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-border {
    border: 2px dashed red;
    line-height: 1.5em;
    margin: 0;
    padding: 1em;
}

.galleryHeaderBox {
    border: 0 solid red;
    background-color: rgba(164,66,244,0.7);
    line-height: 1.1em;
    max-height: 5.5em;
    /*margin: 1em;*/
    padding: .5em;
    max-width: 40em;
    width: 35em;
    border-radius: 5px;
    z-index: 2323;
}
#borderBox{
    transition: 0.5s;
    border: 1px solid red;
    background-color: rgba(164,66,244,0.7);
    height:90px;
    width:400px;
    border-radius: 5px;
    position: absolute;
}

.headerMenu{
    color:white;
}

.galleryHeaderText{
    font-family: 'Satisfy', cursive;
    color:white;
    font-size: 65px;
    padding-bottom: 5px;
    line-height: 1.1em;

}
.galleryHeaderImage{
    height:450px;
    width:450px;
    object-fit: contain;
    filter:brightness(90%);
}
.galleryHeaderBox {
    border: 0 solid red;
    background-color: rgba(0,191,255,0.4);
    line-height: 1.1em;
    max-height: 6.5em;
//margin: 1em;
    padding: .3em;

    width: 20em;
    border-radius: 5px;
    z-index: 2323;
}
@media (max-width: 896px) {
    #hero{
    //left:40px;
        top:400px;
    }
    #hero h1 {
        margin-top: 25px;
        font-size: 50px;
        line-height: 30px;
    }

    #hero .galleryHeaderBox{
        min-width:15em;
        max-width:15em;
        width:15em;
        min-height:5em;
        max-height:5em;
    }

}
@media (max-width: 896px) {
    .arrowRemove span{
        display:none;
    }
}

@media (max-height: 414px) {

    /* Modal Content */
    .modal-content {
        position: relative;
        display: block;
        background-color: #2c2c2d;
        margin: auto;
        padding: 2px;
        width: 90%;
        max-height: 315px;
        max-width: 1600px;
    }

    .mySlides {
        display: none;
        object-fit: scale-down;
        max-height: 305px;
    }

    #galleryImg {
        margin-bottom: 2px;
        object-fit: scale-down;
        max-height: 305px;
    }
    #menuImg {
        margin-bottom: 2px;
        object-fit: scale-down;
        max-height: 420px;
    }

    #interiorImg {
        margin-bottom: 0px;
        margin-top: -30px;
        object-fit: scale-down;
        max-height: 305px;
    }

    #staffImg {
        margin-bottom: 0px;
        margin-top: -30px;
        object-fit: scale-down;
        max-height: 305px;
    }
}

@media (max-height: 360px) {

    /* Modal Content */
    .modal-content {
        position: relative;
        display: block;
        background-color: #2c2c2d;
        margin: auto;
        padding: 2px;
        width: 90%;
        max-height: 295px;
        max-width: 1600px;
    }

    .mySlides {
        display: none;
        object-fit: scale-down;
        max-height: 285px;
    }

    #galleryImg {
        margin-bottom: 2px;
        object-fit: scale-down;
        max-height: 285px;
    }
    #menuImg {
        margin-bottom: 2px;
        object-fit: scale-down;
        max-height: 420px;
    }

    #interiorImg {
        margin-bottom: 0px;
        margin-top: -30px;
        object-fit: scale-down;
        max-height: 285px;
    }

    #staffImg {
        margin-bottom: 0px;
        margin-top: -30px;
        object-fit: scale-down;
        max-height: 285px;
    }
}

@media (max-height: 320px) {

    /* Modal Content */
    .modal-content {
        position: relative;
        display: block;
        background-color: #2c2c2d;
        margin: auto;
        padding: 2px;
        width: 90%;
        max-height: 275px;
        max-width: 1600px;
    }

    .mySlides {
        display: none;
        object-fit: scale-down;
        max-height: 265px;
    }

    #galleryImg {
        margin-bottom: 2px;
        object-fit: scale-down;
        max-height: 265px;
    }
    #menuImg {
        margin-bottom: 2px;
        object-fit: scale-down;
        max-height: 420px;
    }

    #interiorImg {
        margin-bottom: 0px;
        margin-top: -30px;
        object-fit: scale-down;
        max-height: 265px;
    }

    #staffImg {
        margin-bottom: 0px;
        margin-top: -30px;
        object-fit: scale-down;
        max-height: 265px;
    }
}