@import url('https://fonts.googleapis.com/css?family=Kaushan%20Script');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@font-face {
    font-family: Courgette-Regular;
    src: url('../fonts/courgette/Courgette-Regular.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Kaushan Script';
    src: url('https://fonts.googleapis.com/css?family=Kaushan%20Script'); /* IE9 Compat Modes */
    src: url('https://fonts.googleapis.com/css?family=Kaushan%20Script') format('embedded-opentype'), /* IE6-IE8 */
    url('https://fonts.googleapis.com/css?family=Kaushan%20Script') format('woff'), /* Modern Browsers */
    url('https://fonts.googleapis.com/css?family=Kaushan%20Script')  format('truetype'), /* Safari, Android, iOS */
    url('https://fonts.googleapis.com/css?family=Kaushan%20Script') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Trade Winds';
    font-style: normal;
    font-weight: 400;
    src: local('Trade Winds'), local('TradeWinds'), url(https://fonts.gstatic.com/s/tradewinds/v8/AYCPpXPpYNIIT7h8-QenM0Jt5vM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h2 {
    font-family: "Trade Winds";
    font-size:2.0em;
    margin-bottom:0;
    text-align: center;
    color: black;
}

p {
    //font-family: "Trade Winds";
}

.appetizers, .entrees {
    max-width: 35em;
}

.container {
    margin: 0 auto;
}

.menu-column {
    display: flex;
    flex-direction: column;
}

.menu-row {
    display: flex;
    flex-direction: row;
    color: black;
}

.menu-wrap {
    flex-wrap: wrap;
}

.menu-center {
    justify-content: center;
}

.menu {
    font-family: "Trade Winds";
}

.menu-heading {
    font-family:  'Trade Winds';
    font-size: calc(2em + 3vw);
    margin-bottom: 0;
    text-align: center;
    color: black;
}

.menu-item {
    box-shadow: 5px 5px 5px #888888;
    line-height: 1.5em;
    max-height: 30em;
    margin: 1em;
    padding: .5em;
    max-width: 30em;
    width: 30em;
    background-color: #ee2929;
}

.menu-item2 {
    border: 2.5px dashed #ee2929;
    line-height: 1.5em;
    max-height: 30em;
    margin: 1em;
    padding: .5em;
    max-width: 30em;
    width: 30em;
    background-color: #f7f7f7;
    transition: transform .2s;
}

.menu-item2:hover {
    transform: scale(1.03);
}

.menu-item-description {
    margin: 0;
}

.menu-item-name, .menu-item-title, .menu-item-price {
    font-weight: bold;
    color: black;
}

.menu-item-title2{
    color:black;
    font-weight: bolder;
}
.menu-item-price2{
    float:right;
    color:black;
    font-weight: bold;
}
.menu-item-description2{
    margin: 0;
    color:black;
}
#fooddrinkButton{
    transition: 0.5s;
    width:90px;
    border: 3px solid #ee2929;
    background-color: #ee2929;
    /*background-color: #5f2a5e; purple hex from menu image*/
    color:white;
    font-weight: bold;
}
#fooddrinkButton:hover {
    transition: 0.5s;
    border: 3px solid white;
    background-color: white;
    color: #970000;
    font-weight: bold;
    text-decoration: none;
}

.menuHeaderBox {
    border: 0 solid #ee2929;
    background-color: rgba(255,0,0,0.4);
    line-height: 1.1em;
    max-height: 5.5em;
    //margin: 1em;
    padding: .5em;

    width: 30em;
    border-radius: 5px;
    z-index: 2323;
}
#purpbox{
    transition: 0.5s;
    border: 1px solid #ee2929;
    background-color: #ee2929;
    height:90px;
    width:400px;
    border-radius: 5px;
    position: absolute;
}

.headerMenu{
    color:white;
}

.menuHeaderText{
    color:white;
    font-size: 70px;
    padding-bottom: 5px;
    line-height: 1.1em;

}
.menuHeaderImage{
    height:450px;
    width:450px;
    object-fit: contain;
    filter:brightness(90%);

}
@media (max-width: 896px) {
    #hero{
        //left:40px;
        top:400px;
    }
    #hero h1 {
        margin-top: 20px;
        font-size: 50px;
        line-height: 40px;
    }

    #hero img {
      // padding-right:160px;
        //padding-top: -50%;
    }

    #hero .menuHeaderBox{
        min-width:300px;
        max-width:300px;
        width:300px;
    }
}

@media (max-width: 896px) {
    #allDiv h2 {
        font-size: 19px;
    //line-height: 40px;
    }
    #allDiv p {
        font-size:15px;
    }
    #allDiv .menu-item2{
        width:23em;
    }
}

@media (max-width: 896px) {
    #appsDiv h2 {
        font-size: 19px;
    //line-height: 40px;
    }
    #appsDiv p {
        font-size:15px;
    }
    #appsDiv .menu-item2{
        width:23em;
    }
}

@media (max-width: 896px) {
    #rollsDiv h2 {
        font-size: 19px;
    //line-height: 40px;
    }
    #rollsDiv p {
        font-size:15px;
    }
    #rollsDiv .menu-item2{
        width:23em;
    }
}

@media (max-width: 896px) {
    #drinksDiv h2 {
        font-size: 19px;
    //line-height: 40px;
    }
    #drinksDiv p {
        font-size:15px;
    }
    #drinksDiv .menu-item2{
        width:23em;
    }
}

@media (max-width: 896px) {
    #entreeDiv h2 {
        font-size: 19px;
    //line-height: 40px;
    }
    #entreeDiv p {
        font-size:15px;
    }
    #entreeDiv .menu-item2{
        width:23em;
    }
}

@media (max-width: 896px) {
    #miscDiv h2 {
        font-size: 19px;
    //line-height: 40px;
    }
    #miscDiv p {
        font-size:15px;
    }
    #miscDiv .menu-item2{
        width:23em;
    }
}

@media (max-width: 375px) {
    #allDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #allDiv p {
        font-size:12px;
    }
    #allDiv .menu-item2{
        width:20em;
    }
}

@media (max-width: 375px) {
    #drinksDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #drinksDiv p {
        font-size:12px;
    }
    #drinksDiv .menu-item2{
        width:20em;
    }
}
@media (max-width: 375px) {
    #appsDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #appsDiv p {
        font-size:12px;
    }
    #appsDiv .menu-item2{
        width:20em;
    }
}

@media (max-width: 375px) {
    #rollsDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #rollsDiv p {
        font-size:12px;
    }
    #rollsDiv .menu-item2{
        width:20em;
    }
}

@media (max-width: 375px) {
    #entreeDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #entreeDiv p {
        font-size:12px;
    }
    #entreeDiv .menu-item2{
        width:20em;
    }
}

@media (max-width: 375px) {
    #miscDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #miscDiv p {
        font-size:12px;
    }
    #miscDiv .menu-item2{
        width:20em;
    }
}

@media (max-width: 320px) {
    #allDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #allDiv p {
        font-size:12px;
    }
    #allDiv .menu-item2{
        width:18em;
    }
}

@media (max-width: 320px) {
    #drinksDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #drinksDiv p {
        font-size:12px;
    }
    #drinksDiv .menu-item2{
        width:18em;
    }
}

@media (max-width: 320px) {
    #appsDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #appsDiv p {
        font-size:12px;
    }
    #appsDiv .menu-item2{
        width:18em;
    }
}

@media (max-width: 320px) {
    #rollsDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #rollsDiv p {
        font-size:12px;
    }
    #rollsDiv .menu-item2{
        width:18em;
    }
}

@media (max-width: 320px) {
    #entreeDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #entreeDiv p {
        font-size:12px;
    }
    #entreeDiv .menu-item2{
        width:18em;
    }
}

@media (max-width: 320px) {
    #miscDiv h2 {
        font-size: 20px;
    //line-height: 40px;
    }
    #miscDiv p {
        font-size:12px;
    }
    #miscDiv .menu-item2{
        width:18em;
    }
}

@media (max-width: 896px) {
    .arrowRemove span{
        display:none;
    }
}

#content-desktop {

    display: block;
}

#content-mobile {

    display: none;
}

@media (max-width:896px) {

    img#hide {
        display: none;
    }

    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: block;
    }
}

.menuImgTop{
    width:45%;
    height:45%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mobileViewFullMenu{
    display:none;
}
@media (max-width:896px) {

    .menuImgTop {
        height: 90%;
        width:90%;
        object-fit: contain;
    }
    .mobileViewFullMenu{
        display:block;
    }

}