<h2 class="section-title-lowercase gallery-header collapsible" style="text-align:center; color:black;font-weight: 700">El Ninja Grand Opening (7/16/20)</h2>
<div class="content">
    <br>
    <div class="section-title-divider" style="margin-bottom:-10px; background-color:red;"></div>
    <br>
    <div class="gallery-border">
        <div class="row">
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-1.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(1)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-2.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(2)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-3.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(3)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-4.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(4)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-5.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(5)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-6.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(6)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-7.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(7)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-9.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(8)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-10.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(9)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-11.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(10)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-12.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(11)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-16.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(12)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-17.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(13)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-19.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(14)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-22.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(15)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-23.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(16)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-24.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(17)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-25.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(18)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-26.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(19)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-27.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(20)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-28.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(21)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-29.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(22)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-30.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(23)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-31.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(24)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-32.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(25)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-33.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(26)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-34.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(27)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-37.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(28)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-38.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(29)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-39.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(30)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-41.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(31)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-43.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(32)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-45.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(33)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-52.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(34)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-53.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(35)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-55.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(36)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-60.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(37)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-67.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(38)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-69.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(39)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-70.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(40)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-73.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(41)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-74.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(42)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-75.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(43)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-80.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(44)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-81.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(45)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-87.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(46)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-88.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(47)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-89.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(48)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-90.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(49)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-91.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(50)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-92.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(51)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-94.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(52)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-96.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(53)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-99.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(54)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-100.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(55)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-101.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(56)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-102.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(57)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-103.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(58)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-104.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(59)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-106.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(60)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-107.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(61)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-108.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(62)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-109.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(63)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-110.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(64)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-111.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(65)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-112.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(66)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-114.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(67)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-115.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(68)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-116.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(69)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-117.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(70)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-118.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(71)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-120.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(72)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-121.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(73)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-122.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(74)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-123.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(75)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-124.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(76)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-126.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(77)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-127.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(78)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-128.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(79)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-131.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(80)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-132.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(81)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-133.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(82)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-134.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(83)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-136.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(84)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-137.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(85)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-138.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(86)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-139.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(87)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-140.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(88)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-141.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(89)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-142.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(90)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-143.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(91)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-144.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(92)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-147.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(93)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-148.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(94)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-149.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(95)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-150.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(96)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-151.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(97)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-152.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(98)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-154.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(99)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-155.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(100)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-156.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(101)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-157.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(102)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-158.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(103)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-159.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(104)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-160.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(105)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-161.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(106)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-162.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(107)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-163.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(108)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-164.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(109)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-166.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(110)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-167.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(111)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-170.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(112)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-171.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(113)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-172.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(114)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-173.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(115)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-174.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(116)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-175.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(117)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-176.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(118)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-177.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(119)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-179.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(120)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-180.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(121)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-181.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(122)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-182.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(123)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-183.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(124)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ElNinja-Opening-184.jpg" style="width:100%" onclick="openOpeningModal();currentOpeningSlide(125)" class="hover-shadow cursor">
            </div>
        </div>
    </div>
</div>