<h2 class="section-title-lowercase gallery-header collapsible" style="text-align:center; color:black;font-weight: 700">El Ninja Tasting (7/1/20)</h2>
<div class="content">
    <br>
    <div class="section-title-divider" style="margin-bottom:-10px; background-color:red;"></div>
    <br>
    <div class="gallery-border">
        <div class="row">
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-51.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(1)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-52.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(2)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-53.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(3)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-54.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(4)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-56.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(5)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-57.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(6)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-63.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(7)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-64.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(8)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-75.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(9)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-77.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(10)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-78.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(11)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-80.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(12)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-85.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(13)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-102.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(14)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-104.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(15)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-105.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(16)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-106.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(17)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-107.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(18)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-116.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(19)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-117.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(20)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-125.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(21)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-132.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(22)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-133.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(23)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-134.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(24)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/ENR-Tasting-135.jpg" style="width:100%" onclick="openTastingModal();currentTastingSlide(25)" class="hover-shadow cursor">
            </div>
        </div>
    </div>
</div>