<div id="openingModal" class="modal">
    <span class="close cursor" onclick="closeOpeningModal()">&times;</span>
    <div class="modal-content">
        <div class="openingSlides">
            <div class="numbertext">1 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-1.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">2 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-2.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">3 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-3.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">4 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-4.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">5 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-5.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">6 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-6.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">7 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-7.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">8 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-9.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">9 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-10.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">10 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-11.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">11 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-12.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">12 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-16.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">13 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-17.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">14 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-19.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">15 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-22.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">16 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-23.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">17 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-24.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">18 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-25.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">19 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-26.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">20 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-27.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">21 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-28.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">22 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-29.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">23 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-30.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">24 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-31.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">25 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-32.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">26 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-33.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">27 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-34.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">28 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-37.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">29 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-38.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">30 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-39.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">31 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-41.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">32 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-43.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">33 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-45.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">34 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-52.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">35 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-53.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">36 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-55.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">37 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-60.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">38 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-67.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">39 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-69.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">40 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-70.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">41 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-73.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">42 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-74.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">43 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-75.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">44 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-80.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">45 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-81.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">46 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-87.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">47 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-88.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">48 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-89.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">49 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-90.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">50 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-91.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">51 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-92.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">52 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-94.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">53 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-96.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">54 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-99.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">55 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-100.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">56 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-101.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">57 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-102.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">58 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-103.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">59 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-104.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">60 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-106.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">61 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-107.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">62 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-108.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">63 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-109.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">64 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-110.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">65 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-111.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">66 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-112.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">67 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-114.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">68 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-115.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">69 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-116.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">70 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-117.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">71 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-118.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">72 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-120.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">73 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-121.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">74 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-122.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">75 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-123.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">76 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-124.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">77 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-126.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">78 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-127.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">79 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-128.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">80 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-131.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">81 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-132.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">82 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-133.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">83 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-134.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">84 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-136.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">85 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-137.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">86 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-138.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">87 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-139.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">88 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-140.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">89 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-141.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">90 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-142.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">91 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-143.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">92 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-144.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">93 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-147.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">94 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-148.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">95 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-149.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">96 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-150.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">97 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-151.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">98 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-152.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">99 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-154.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">100 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-155.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">101 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-156.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">102 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-157.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">103 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-158.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">104 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-159.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">105 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-160.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">106 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-161.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">107 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-162.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">108 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-163.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">109 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-164.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">110 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-166.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">111 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-167.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">112 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-170.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">113 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-171.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">114 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-172.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">115 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-173.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">116 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-174.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">117 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-175.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">118 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-176.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">119 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-177.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">120 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-179.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">121 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-180.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">122 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-181.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">123 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-182.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">124 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-183.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>
        <div class="openingSlides">
            <div class="numbertext">125 / 125</div>
            <img class="demoOpening cursor" id="galleryImg" src="img/Events/ElNinja-Opening-184.jpg" style="width:100%" alt="El Ninja Grand Opening">
        </div>

        <a class="prev" onclick="plusOpeningSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusOpeningSlides(1)">&#10095;</a>

        <div class="caption-container" style="height:25px">
            <p id="captionOpening" style="color:white;"></p>
        </div>
    </div>
</div>