<div id="tastingModal" class="modal">
    <span class="close cursor" onclick="closeTastingModal()">&times;</span>
    <div class="modal-content">
        <div class="tastingSlides">
            <div class="numbertext">1 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-51.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">2 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-52.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">3 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-53.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">4 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-54.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">5 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-56.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">6 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-57.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">7 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-63.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">8 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-64.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">9 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-75.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">10 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-77.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">11 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-78.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">12 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-80.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">13 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-85.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">14 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-102.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">15 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-104.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">16 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-105.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">17 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-106.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">18 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-107.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">19 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-116.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">20 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-117.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">21 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-125.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">22 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-132.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">23 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-133.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">24 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-134.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>
        <div class="tastingSlides">
            <div class="numbertext">25 / 25</div>
            <img class="demoTasting cursor" id="galleryImg" src="img/Events/ENR-Tasting-135.jpg" style="width:100%" alt="El Ninja Tasting">
        </div>

        <a class="prev" onclick="plusTastingSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusTastingSlides(1)">&#10095;</a>

        <div class="caption-container" style="height:25px">
            <p id="captionTasting" style="color:white;"></p>
        </div>
    </div>
</div>