<!--==========================
Footer
============================-->
<link type="font" name="Satisfy" subtype="TrueType" src="fonts/Satisfy.ttf"/>

<footer id="footer">
    <div class="container" id="iphone">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <p class="footerLinks"><a href="events" style="text-align: center;font-size: small;">Events</a></p>
                    <p class="footerLinks"><a href="menu" style="text-align: center;font-size: small;">Menu</a></p>
                    <!--p class="footerLinks"><a href="services" style="text-align: center">Services</a></p-->
                    <!--p class="footerLinks"><a href="gallery" style="text-align: center">Gallery</a></p-->
                    <p class="footerLinks"><a href="reservations" style="text-align: center;font-size: small;">Reservations</a></p>
                    <p class="footerLinks"><a href="delivery" style="text-align: center;font-size: small;">Delivery</a></p>
                </div>
                <div class="credits">
                    <br>
                    <strong style="text-align: center; font-size: 16px">El Ninja Restaurant</strong>
                    <br><br>
                    <div class="d-flex justify-content-center footerDates">
                        <p style="text-align: center;margin:0;padding-right: 10px;color:#ccc"><strong>Monday</strong><br> 3pm-10pm<span style="color: red; font-weight: 450">*</span></p>
                        <p style="text-align: center;margin:0;padding-right: 10px;color:#ccc"><strong>Tuesday</strong><br> Closed</p>
                        <p style="text-align: center;margin:0;padding-right: 10px;color:#ccc"><strong>Wednesday</strong><br> 5pm-12am</p>
                        <p style="text-align: center;margin:0;padding-right: 10px;color:#ccc"><strong>Thursday</strong><br> 5pm-12am</p>
                        <p style="text-align: center;margin:0;padding-right: 10px;color:#ccc"><strong>Friday</strong><br> 4pm-1am</p>
                        <p style="text-align: center;margin:0;padding-right: 10px;color:#ccc"><strong>Saturday</strong><br> 4pm-1am</p>
                        <p style="text-align: center;margin:0;padding-right: 10px;color:#ccc"><strong>Sunday</strong><br> 3pm-11pm</p>
                    </div>
                    <strong style="color: red;">*Sushi take out only on Monday!</strong>
                    <br><br>
                    <p style="color:#ccc">1007 Broad Street Providence, RI 02905</p>
                    <p style="color:#ccc">(401) 467-2581</p>
                    <a href="index.php"><img src="img/logo_ninja.png" alt="logo" style="height:100px;width:200px;object-fit: contain;"></a>
                    <ul style="padding-top: 10px;margin-left:-4%;">
                        <li style="display: inline;"> <div id="test"><a href="https://www.facebook.com/ElNinjaRI" target="_blank" class="circleborder2"><i class="fab fa-facebook-f iconcolor2" style="padding-top: 4px"></i></a></div></li>
                        <li style="display: inline;"><div id="test"><a href="https://www.instagram.com/elninjari/" target="_blank" class="circleborder2"> <i class="fab fa-instagram iconcolor2" style="padding-top: 4px"></i></a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>