<!--==========================
Footer
============================-->
<link type="font" name="Satisfy" subtype="TrueType" src="fonts/Satisfy.ttf"/>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <p class="footerLinks"><a href="#" style="text-align: center">Events</a></p>
                    <p class="footerLinks"><a href="#" style="text-align: center">Menu</a></p>
                    <p class="footerLinks"><a href="#" style="text-align: center">Services</a></p>
                    <p class="footerLinks"><a href="#" style="text-align: center">Gallery</a></p>
                </div>
                <div class="credits">

                    <strong style="text-align: center;">El Ninja Restaurant</strong>
                    <br><br>
                    <div class="d-flex justify-content-center footerDates">
                        <p style="text-align: center;margin:0;padding-right: 10px;"><strong>Monday</strong><br> TBA</p>
                        <p style="text-align: center;margin:0;padding-right: 10px;"><strong>Tuesday</strong><br> TBA</p>
                        <p style="text-align: center;margin:0;padding-right: 10px;"><strong>Wednesday</strong><br> TBA</p>
                        <p style="text-align: center;margin:0;padding-right: 10px;"><strong>Thursday</strong><br> TBA</p>
                        <p style="text-align: center;margin:0;padding-right: 10px;"><strong>Friday</strong><br> TBA</p>
                        <p style="text-align: center;margin:0;padding-right: 10px;"><strong>Saturday</strong><br> TBA</p>
                        <p style="text-align: center;margin:0;padding-right: 10px;"><strong>Sunday</strong><br> TBA</p>
                    </div>
                    <br>
                    <p>1017 Broad Street Providence, RI 02905</p>
                    <p>(401) 555-5555</p>
                    <img src="img/logo_ninja.png" alt="logo" style="height:100px;width:200px;object-fit: contain;">
                    <ul style="padding-top: 10px;margin-left:-4%;">
                        <li style="display: inline;"> <div id="test"><a href="#" target="_blank" class="circleborder2"><i class="fab fa-facebook-f iconcolor2" style="padding-top: 4px"></i></a></div></li>
                        <li style="display: inline;"><div id="test"><a href="https://www.instagram.com/elninjari/" target="_blank" class="circleborder2"> <i class="fab fa-instagram iconcolor2" style="padding-top: 4px"></i></a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>