<nav class="navbar navbar-expand-lg navbar-inverse bg-blackish2" style="z-index: 2; min-height: 100px;">
    <div class="col-md-1"></div>
    <img src="img/logo.png" id="imageTest" alt="logo" style="height: 85px;width: 140px;margin-top:-5px;object-fit: cover;">
    <!--<a class="navbar-brand" href="#" style="color:white">Mi Almas Cafe</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""><i class="fas fa-bars" style="color:white;top:40px;right:30px;text-align: right;position:absolute"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto ">
            <div class="col-md-2" style="margin-left: -6em;"></div>
            <li class="nav-item active">
                <a class="nav-link" href="index" style="padding-right:20px;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="services" style="padding-right:20px;">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="menu" style="padding-right:20px;">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gallery" style="padding-right:20px;">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="events" style="padding-right:20px;">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="calendar" style="padding-right:20px;">Calendar</a>
            </li>
        </ul>
        <ul class="navbar-nav md-auto ">
            <li class="nav-item">
                <a class="nav-link" href="index#about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index#contact">Contact us</a>
            </li>
        </ul>
        <div class="col-md-1"></div>
    </div>

</nav>